body {
    margin: 0 auto;
    font-family: sans-serif;
    background: rgb(0, 0, 0);
    color: rgb(204, 204, 204);
}

nav {
    font-size: 1.5em;
}
nav > ul > li {
    background-color: #1b1b1b;
    padding: 0em 0.2em 0em 0.2em;
    border-radius: 0.3em;
    display: inline;
}
nav > ul > li > a {
    text-decoration: none;
    color: teal;
    font-weight: bold;
}

footer {
    /* text-decoration: overline underline; */
}

a {
    text-decoration: none;
    color: darkgreen;
}

.hr-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid cadetblue;
    margin: 1em 0;
    padding: 0;
}

.body-footer {
    position: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    color: lightcoral;
    font-size: 1em;
    text-align: center;
}
