{{ $sangraham_icon := resources.Get "images/sangraham-icon.png" }}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{ $style := resources.Get "css/main.css" }}
        <link rel="stylesheet" href="{{ $style.Permalink }}" />
        <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
        <meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
        <meta name="description" content="{{ .Params.description }}" />
        <link rel="icon" type="image/png" href="{{ $sangraham_icon.Permalink }}">
    </head>

    <body>
        {{ partial "nav.html" }} {{ partial "breadcrumb.html" . }}
        <div id="cut-border-box">
            <p id="cut-border-box-left"></p>
            <p id="cut-border-box-text">{{.Page.Title}}</p>
            <p id="cut-border-box-right"></p>
        </div>
        {{ block "main" . }} {{ end }} {{ partial "footer.html" }}
    </body>
</html>
