{{ $image := resources.Get "images/sangraham-logo.png" }}
<div>
    <span>
        <img
            style="
                height: 3em;
                border-radius: 0.5em;
                margin-right: 1em;
                margin-top: 1em;
                bottom: 0px;
                transform: translateY(0.3em);
            "
            src="{{ $image.Permalink }}"
            alt="Sangraham Logo"
        />
    </span>
    <span>
        <nav style="display: inline-block;">
            <ul>        
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </span>
    <div class="hr-line"></div>
</div>
